<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MeliApp</title>
  <link rel="stylesheet" type="text/css" href="../static/css/home.css">
  <script src="https://kit.fontawesome.com/2fcb4ed9d7.js" crossorigin="anonymous"></script>
  
</head>
<body>
  <div>
    <h1 class="title">Meli App</h1>
  </div>
  <nav >
    <a class="nav-enlace" href="home">Home</a>
    <a class="nav-enlace" href="localidades">Localidades</a>
    <a class="nav-enlace" href="{{url_for('logout')}}">Cerrar Sesion</a>
  </nav>
  {% block content %}
  {% endblock %}
</body>
</html>